<p>
    <strong>Commenter:</strong><br>
    <%= comment.commenter %>
</p>

<p>
    <strong>Comment:</strong><br>
    <%= comment.body%>
</p>

<p>
    <%= link_to 'Delete comment', [comment.article, comment], 
    method: :delete, data: {confirm: 'Are you sure?'}%>
</p>